
a {
	font-family: 'Amiko';
}

.links a:hover, .projects a:hover {
	color: #4FC1E9;
}

body, html {
	width: 100%;
	margin: 0;
}

body {
	background-color: #F4F4F4;
}

h1 {
	font-family: 'Cutive';
}

p, h2, h3 {
	font-family: 'Amiko';
}

.box {
	flex: 0 0 33.333333%;
	max-width: 50%;
	margin: 6px 0px 6px 0px;
	padding: 6px 6px 6px 6px;
	display: inline-block;
	background-color: white;
	background-clip: border-box;
	border-radius: .25rem;
}

.caption {
	position: absolute;
	top: 35%;
	text-align: center;
	left: 0;
	width: 100%;
}

.caption h1, p {
	color: white;
}

.caption h1 {
	font-size: 50px;
}

.cover {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
}

.links a {
	color: white;
	margin: 6px;
}

.projects {
	text-align: center;
}

.projects a {
	color: black;
	margin: 6px;
}

.projects h1 {
	text-align: center;
	left: 0;
	width: 100%;
	font-size: 50px;
}

.projects p {
	color: black;
}

#bg1 {
	background-image: url("img/mountain.jpg");
	min-height: 100vh;
}

#line {
	width: 20%;
	border-color: #4FC1E9;
}

* {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
