body, html {
	width: 100%;
	margin: 0;
}

h1 {
	font-family: 'Cutive';
}

p, h2 {
	font-family: 'Amiko';
}

.cover {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(40%);
}

#bg1 {
	background-image: url("img/mountain.jpg");
	min-height: 100vh;
}

.caption {
	position: absolute;
	top: 35%;
	text-align: center;
	left: 0;
	width: 100%;
}

.caption h1, p {
	color: white;
}

.caption h1 {
	font-size: 50px;
}

.projects h1 {
	text-align: center;
	left: 0;
	width: 100%;
	font-size: 50px;
}

.projects {
	text-align: center;
}

.projects p {
	color: black;
}

#line {
	width: 20%;
	border-color: #4FC1E9;
}

.links a {
	color: white;
	margin: 6px;
}

.links a:hover {
	color: #4FC1E9;
}


* {
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
